@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin-top: 0;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

body {
  min-height: 100svh;
  font-family: "EB Garamond", serif;
  background-color: #232d3f;
  color: goldenrod;
  line-height: 1.5;
  margin: 0;
}

.top-header::after {
  content: "";
  display: block;
  clear: left;
}

.logo-image {
  width: 2rem;
  float: left;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

nav {
  padding: 0.85rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-btn {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  text-decoration: none;
  background-color: #504099;
  border-radius: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

main {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

blockquote{
  text-align: center;
  background-color: #0F0F0F50;
}

.section-header img,
.lor-lvl2-image{
  width: 100%;
  object-fit: cover;
}

.overview-section,
.lore-text {
  width: 85%;
}

.hero{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3rem;
}

.hero-name {
  margin-bottom: 0;
  font-size: 2rem;
}

.hero-info-bio{
    text-align: start;
    margin-bottom: 0;
}

.break-content-shape {
  border: 0.1rem solid #87879d30;
  margin: auto;
}

.slim-line {
  width: 0.1rem;
  height: 5rem;
}

.break-content img{
    width: 3rem;
}

.grid-abilities{
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    place-items: center;
    gap: 2rem;
    background-color: #0F0F0F50;
    border-radius: 1rem;
    padding: 1rem;
}

.ability{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ability:not(.R,.R-empowered){
    grid-column: span 2;
}

.ability-name{
    font-size: 0.95rem;
    margin-left: 1rem;
    margin-bottom: 0;
    color: #974EC3;
}

.W .ability-name{
    margin-left: 0;
}

.ability img{
    border-radius: 50%;
}

.normal-ability{
    float: left;
}

.recast-ability{
    float: right;
}

.W {
    width: 100%;
    justify-content: space-between;
}

.lore-text{
  margin: 0 auto;
}

.lor-lvl2-image{
  border-radius: 0.5rem;
}

a {
  color: goldenrod;
}

footer {
  text-align: center;
}

.attribution {
  color: white;
}
