@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin-top: 0;
}

body{
    min-height: 100svh;
    font-family: 'EB Garamond', serif;
    background-color:#232D3F;
    color: goldenrod;
    margin: 0;
}

header::after{
    content: '';
    display:block;
    clear: left;
    margin-bottom: 1.5rem;
}


.logo-image{
    width: 2rem;
    float: left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

nav{
    padding: 0.85rem;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-btn{
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: #504099;
    border-radius: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

main{
    display: grid;
    justify-items: center;
}

.top-section{
    width: 100%;
}

.top-section img{
    width: 100%;
    object-fit: cover;
}

.main-section{
    text-align: center;
}

.hero-name{
    margin-bottom: 0;
    text-transform: uppercase;
}

.hero-title{
    text-transform: uppercase;
    margin-bottom: 1rem;
}

a {
    color: goldenrod;
}

footer{
    text-align: center;
}

.attribution{
    color: white;
}
